
.hpb-head-tb1 {
	color: black;
	font-size: 75%;
}

.hpb-vmenu1 {
	width: 100%;
}

.hpb-side-cell3 {
	font-size: 90%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	background: DarkGray;
}

.hpb-cnt-cell3-x {
	color: #333333;
	font-size: 80%;
	background: white;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.hpb-lb-tb1 {
	width: 610px;
	background: #FFFFFF;
	border-top: 0px none;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px none;
	border-left: 1px solid #FFFFFF;
}

.hpb-lb-tb1-cell3 {
	padding-left: 26px;
	font-size: 80%;
	line-height: 14px;
}

.hpb-subh02-cell1 {
	color: #FFFFFF;
	font-size: 80%;
	font-weight: bold;
	background: DimGray;
	border: none;
	padding: 3px 3px 3px 7px;
}

.hpb-dp-tb1-cell1 {
	font-size: 80%;
	line-height: 16px;
	padding: 14px;
	border-bottom: 1px solid Gray;
	border-left: 1px solid Gray;
}

.hpb-dp-tb1-cell2 {
	font-size: 80%;
	line-height: 16px;
	border-bottom: 1px solid Gray;
	border-right: 1px solid Gray;
}

.hpb-side-cell4 {
	background: DimGray;
}

.hpb-cnt-cell4 {
	font-size: 80%;
	color: white;
	background: DimGray;
	padding-right: 10px;
    vertical-align: middle;
    text-align:  right;
}

.hpb-subh02-cell0 {
	color: #FFFFFF;
	font-size: 80%;
	font-weight: bold;
	background: LightSeaGreen;
	border: none;
	padding: 3px 3px 3px 7px;
}

.title_midashi1 {
	color: yellow;
	font-size: 80%;
	font-weight: bold;
	background: indianred;
	border: none;
	padding: 3px 3px 3px 7px;
}

.hpb-dp-tb1-cell0 {
	font-size: 80%;
	line-height: 16px;
	padding: 14px;
	border-bottom: 1px solid Gray;
	border-right: 1px solid Gray;
	border-left: 1px solid Gray;
}

.hpb-lb-tb0 {
	background: #FFFFFF;
	border-top: 0px none;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px none;
	border-left: 1px solid #FFFFFF;
}

.hpb-dp-tb1-cell0a {
	font-size: 90%;
	line-height: 16px;
	padding: 14px;
	border-bottom: 1px solid Gray;
	border-right: 1px solid Gray;
	border-left: 1px solid Gray;
}

.hpb-dp-tb1-cell0c {
	font-size: 100%;
}


.Nagarezu-TD {
/*	background: AliceBlue; */
	padding-top: 16px;
	padding-left: 28px;
	padding-bottom: 10px;
	border-bottom: 1px solid Gray;
	border-right: 1px solid Gray;
	border-left: 1px solid Gray;
}


.hpb-vmenu1-link0a:link {
	color: Blue;
	text-decoration: underline;
}

.hpb-vmenu1-link0a:visited {
	color: MediumVioletRed;
	text-decoration: underline;
}

.hpb-vmenu1-link0a:hover {
	color: Lime;
	text-decoration: underline;
}

.hpb-tr-shoku {
    background: DarkGray;
    color: White;
    text-align: center; 
}

/*-------------------- element type --------------------*/

A:LINK {
	color: #840000;
	text-decoration: none;
	line-height: 16px;

}

A:VISITED {
	color: #840000;
	text-decoration: none;
	line-height: 16px;

}

A:HOVER {
	color: #840000;
	text-decoration: underline;
	line-height: 16px;

}

BODY {
	color: #333333;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	font-size: 80%;
	background: #FFFFFF;
}

H1 {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 140%;
	font-weight: bold;
}

H2 {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 135%;
	font-weight: bold;
}

H3 {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 125%;
	font-weight: bold;
}

H4 {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 119%;
	font-weight: bold;
}

H5 {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 110%;
	font-weight: bold;
}

H6 {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 100%;
	font-weight: bold;
	line-height: 16px;
}

ADDRESS {
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

BLOCKQUOTE {
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 15px;
}

P {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
}

PRE {
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

UL {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-image : url(../hpb_bul_circle01.gif);
	list-style-position: outside;
	list-style-type: none;
}

TH {
}

SELECT {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
}

/*-------------------- Add Tamura Upd 2009/07/25 --------------------*/

#menu1 {
	margin: 0px;
	padding: 0px;

}
#menu1 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: left;
}
#menu1 li {
	margin: 0px;
	padding: 1px;
}
#menu1 a {
	background-color: DimGray;
	display: block;
	padding: 8px;
	text-decoration: none;
	color: White;
}
#menu1 a:hover {
	background-color: Black;
	display: block;
	padding: 8px;
	text-decoration: none;
	color: Lime;
}


